*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}
.container{
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: #b2ad7f;
    position: relative;
}
.container .addbook{
    display: grid;
    height:6in;
    display: flexbox;
    box-sizing: border-box;
    background-color: #b2ad7f;
    position: sticky;
    top: 0px;
}
.container .catalog{
    display: grid;
    grid-template-rows: 10% 10% 80%;
    background-color: #b2ad7f;
}
.container .catalog .search{
    display: grid;
    grid-template-columns: 80% 20%;
}
/* .container .catalog .availablebooks{
    background-color:beige;
} */
#frm1{
    position:sticky;
    display: flexbox;
    box-sizing: border-box;
    width: 80%;
    background-color: #a2b9bc;
    /* background-image: url("stall.png"); */
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
    padding: 10%;
    margin-top: 10%;
    margin-left: 5%;
    margin-bottom: 10%;
}
.availablebooks{
    /* display: flex;
    flex-wrap: wrap; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
    overflow:auto;
    
}
.availablebooks .items{
    /* background-color: white;
    font-size: medium;
    height: 4in;
    width: 5in;
    font-family: 'Times New Roman', Times, serif; */
    /* display: flexbox; */
    display: grid;
    box-sizing: border-box;
    width: 90%;
    background-color: #a2b9bc;
    box-shadow: rgba(100,100,111,0.2)0px 7px 29px 0px;
    padding: 2%;
    margin: 5px;
    height: fit-content;
    font-family: 'Times New Roman', Times, serif; 
}